.card{
  border: 3px solid rgb(161, 170, 171);
  max-width: 23vw;
 padding: 0 10px;
  border-radius: 5px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.container{
  display: flex;
  gap: 34px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(93, 138, 236);
  color: #fff;
  padding: 0 2px;
}